[Unit]
Description=Bearcode service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
User=dev
ExecStart=bash /opt/bearcode/daemon.sh

[Install]
WantedBy=default.target
